.selected-list {
  padding: 24px 36px;
  gap: 16px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(1.5px);
  display: flex;
  width: 100%;
  overflow-x: auto;
  @media screen and (max-width: 1024px) {
    padding: 0;
  }
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 180px;
  position: relative;
  margin-right: 16px;

  @media screen and (max-width: 1024px) {
    flex: none;
    padding: 24px;
  }

  h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 4px;

    @media screen and (max-width: 1024px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    @media screen and (max-width: 1024px) {
      font-size: 12px;
    }
  }

  &:after {
    width: 1px;
    height: 117px;
    content: "";
    background: #7d7c9f;
    opacity: 0.2;
    position: absolute;
    right: -16px;
    @media screen and (max-width: 1024px) {
      height: 100%;
      top: 0;
    }
  }

  &:last-child {
    margin-right: 0;

    &:after {
      display: none;
    }
  }
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: rgba(33, 118, 255, 0.7);
  border-radius: 100%;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 24px;

  @media screen and (max-width: 1024px) {
    font-size: 9px;
    line-height: 13px;
    width: 24px;
    height: 24px;
  }
}
