.detail {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s ease;

  &--open {
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 10;

    .content {
      transition-delay: 0s;
      transform: translateX(0px);
      @media screen and (max-width: 1024px) {
        transform: translate(0, 0);
      }
    }
  }
}

.content {
  width: 50%;
  background: #fff;
  border-left: 1px solid #e6e6e6;
  height: 100%;
  position: absolute;
  right: 0;
  padding: 80px 100px 55px;
  padding-left: clamp(50px, 5vw, 100px);
  padding-right: clamp(50px, 5vw, 100px);
  transform: translateX(500%);
  transition: all 0.5s ease;
  transition-delay: 0.2s;

  @media screen and (max-width: 1366px) {
    width: 80%;
  }

  @media screen and (max-width: 1024px) {
    transform: translate(0, 100%);
    width: 100%;
    height: 90%;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    padding: 24px 50px 0 24px;
  }

  > h2 {
    font-weight: 300;
    font-size: clamp(20px, 1.8vw, 40px);
    line-height: clamp(24px, 1.8vw, 48px);
  }
}

.desc {
  width: 100%;
  height: calc(100% - 90px);
  overflow-y: auto;
  padding-right: 100px;
  margin-top: 36px;

  @media screen and (max-width: 1024px) {
    padding-right: 50px;
  }

  * {
    font-weight: 400;
    font-size: clamp(13px, 1.5vw, 18px);
    line-height: clamp(19px, 2vw, 28px);
    color: rgba(17, 14, 75, 0.7);
    margin-bottom: clamp(8px, 3vw, 12px);

    & ~ h3,
    & ~ b {
      margin-top: clamp(24px, 2vw, 36px);
    }
  }

  h3,
  b {
    font-weight: 300;
    font-size: clamp(18px, 1.5vw, 24px);
    line-height: clamp(22px, 1.5vw, 29px);
    margin-bottom: 12px;
  }

  &::-webkit-scrollbar {
    width: 1px;
    background: rgba(185, 185, 185, 0.7);
  }

  &::-webkit-scrollbar-thumb {
    background: #110e4b;
    border-radius: 22px;
  }
}

.close {
  position: absolute;
  top: 83px;
  right: clamp(50px, 4vw, 83px);
  cursor: pointer;

  @media screen and (max-width: 1024px) {
    top: 27px;
    right: 32px;
  }

  i {
    &:before {
      font-size: 36px;
    }
  }
}
