.button {
  a,
  button {
    color: #1f242b;
    display: inline-flex;
    align-items: center;
    padding: 16px 36px;
    border-radius: 16px;
    background: rgba($color: #2176ff, $alpha: 0.7);
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    cursor: pointer;
    transition: all 0.5s ease;
    color: #fff;
    border: 1px solid transparent;
    justify-content: center;
    height: 53px;

    @media (hover: hover) {
      &:hover {
        background: rgba($color: #2176ff, $alpha: 0.9);
      }
    }
  }

  &--secondary {
    a,
    button {
      border-color: #fff;
      background: transparent;

      @media (hover: hover) {
        &:hover {
          background: transparent;
        }
      }
    }
  }

  &--thirty {
    a,
    button {
      border-color: #3a3ce6;
      background: #3a3ce6;
    }
  }

  &--paypal {
    a,
    button {
      border-color: #0070ba;
      background: #0070ba;
      @media (hover: hover) {
        &:hover {
          background: #0070ba;
          filter: brightness(0.95);
        }
      }
    }
  }
}
