.team-card {
  picture {
    position: relative;
    height: 0;
    padding-top: calc(9 / 16 * 100%);
    display: block;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 16px;
  }

  h3 {
    font-weight: 200;
    font-size: clamp(20px, 2vw, 36px);
    line-height: clamp(28px, 2vw, 44px);
    margin-bottom: clamp(2px, 2vw, 8px);
    margin-top: clamp(16px, 2vw, 36px);
  }

  h6 {
    font-weight: 300;
    font-size: clamp(14px, 2vw, 18px);
    line-height: clamp(17px, 2vw, 22px);
    margin-bottom: clamp(12px, 2vw, 24px);
  }

  p {
    font-weight: 300;
    font-size: clamp(14px, 1.2vw, 17px);
    line-height: clamp(24px, 1.2vw, 26px);
  }

  &--horizontal {
    display: flex;
    align-items: center;
    gap: 48px;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      gap: 16px;
    }

    figcaption {
      width: 100%;
    }

    picture {
      width: 100%;
      padding-top: 66%;
    }

    h3 {
      margin-top: 0;
    }
  }
}
