.icon {
line-height: 1;
}

.icon:before {
font-family: serai !important;
font-style: normal;
font-weight: normal !important;
vertical-align: top;
}


  %icon-arrow {
  content: "\f101";
  }

  .icon-arrow:before {
  content: "\f101";
  }

  %icon-check {
  content: "\f102";
  }

  .icon-check:before {
  content: "\f102";
  }

  %icon-close {
  content: "\f103";
  }

  .icon-close:before {
  content: "\f103";
  }

  %icon-facebook {
  content: "\f104";
  }

  .icon-facebook:before {
  content: "\f104";
  }

  %icon-flag {
  content: "\f105";
  }

  .icon-flag:before {
  content: "\f105";
  }

  %icon-google {
  content: "\f106";
  }

  .icon-google:before {
  content: "\f106";
  }

  %icon-info {
  content: "\f107";
  }

  .icon-info:before {
  content: "\f107";
  }

  %icon-instagram {
  content: "\f108";
  }

  .icon-instagram:before {
  content: "\f108";
  }

  %icon-linkedin {
  content: "\f109";
  }

  .icon-linkedin:before {
  content: "\f109";
  }

  %icon-mouse {
  content: "\f10a";
  }

  .icon-mouse:before {
  content: "\f10a";
  }

  %icon-times {
  content: "\f10b";
  }

  .icon-times:before {
  content: "\f10b";
  }

  %icon-twitter {
  content: "\f10c";
  }

  .icon-twitter:before {
  content: "\f10c";
  }
