.story {
  padding: 120px 0 160px;
  padding-left: clamp(24px, 15vw, 280px);
  padding-right: clamp(24px, 15vw, 280px);

  @media screen and (max-width: 1024px) {
    padding: 36px 24px;
  }

  &__content {
    width: 100%;
    max-width: 700px;
    margin: auto;
    @media screen and (max-width: 1024px) {
      padding: 0 12px;
      max-width: 100%;
    }
    
    * {
      font-weight: 400;
      font-size: clamp(14px, 1.3vw, 18px);
      line-height: clamp(26px, 2.4vw, 32px);
    
      @media screen and (max-width: 1024px) {
        font-weight: 300;
      }
    }

    h2 {
      font-weight: 300;
      font-size: clamp(20px, 2.5vw, 48px);
      line-height: clamp(28px, 3vw, 58px);
      margin-bottom: clamp(8px, 2.5vw, 24px);
    }
  }

  &__images {
    margin: 120px auto;

    @media screen and (max-width: 1024px) {
      margin: 40px auto;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  /* &__images {
    margin: 120px auto;
    column-count: 3;
    gap: 24px;
    text-align: right;

    img {
      border-radius: 16px;
      filter: grayscale(100%);
      width: 100%;
      height: auto;
      object-fit: cover;
      margin-bottom: 24px;

      &:nth-child(1) {
        margin-top: 55px;
      }

      &:nth-child(3) {
        width: auto;
      }

      &:nth-child(6) {
        margin-top: 180px;
      }
    }
  } */
}
